{% extends 'basecorden.html' %}

{% block titulo %}
  Ação - Metas PE
{% endblock %}

{% block conteudo %}
<div style="margin: auto; width: 80%; text-align: center;">
  <!-- Mensagens Flash -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center">{{ message }}</div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <!-- Fim das Mensagens Flash -->

  <div class="form-block"><br>
    <h2>Cadastro de Ação</h2><br>
    <form method="POST" action="{{ url_for('planejamento.associar_acaope') }}">
      <div style="text-align: left;">
        <label for="meta_pe_id">Selecione a Meta cadastrada:</label><br>
        <select name="meta_pe_id" required style="width: 80%; margin-bottom: 10px;">
            {% for meta in metas_pe %}
                <option value="{{ meta.id }}">{{ meta.nome }}</option>
            {% endfor %}
        </select><br>

        <label for="nome">Nome da Ação:</label><br>
        <input type="text" id="nome" name="nome" required style="width: 80%; margin-bottom: 10px;"><br>

        <label for="porcentagem_execucao">Porcentagem da Execução:</label><br>
        <input type="text" id="porcentagem_execucao" name="porcentagem_execucao" required style="width: 80%; margin-bottom: 10px;"><br>

        <label for="data_inicio">Data de Início:</label><br>
        <input type="date" id="data_inicio" name="data_inicio" required style="width: 80%; margin-bottom: 10px;"><br>

        <label for="data_termino">Data de Término:</label><br>
        <input type="date" id="data_termino" name="data_termino" required style="width: 80%; margin-bottom: 10px;"><br>

        <label for="responsavel">Responsável:</label><br>
        <input type="text" id="responsavel" name="responsavel" required style="width: 80%; margin-bottom: 10px;"><br>

        <label for="status">Status:</label><br>
        <select id="status" name="status" required style="width: 80%; margin-bottom: 10px;">
            <option value="planejada">Planejada</option>
            <option value="em_andamento">Em Andamento</option>
            <option value="concluída">Concluída</option>
            <option value="atrasada">Atrasada</option>
            <option value="cancelada">Cancelada</option>
        </select><br>

        <label for="observacao">Observação:</label><br>
        <input type="text" id="observacao" name="observacao" required style="width: 80%; margin-bottom: 10px;"><br>
      </div>

      <button type="submit" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Cadastrar</button>
      <button type="button" onclick="cancelar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Cancelar</button>

      <script>
        function cancelar() {
            window.location.href = "{{ url_for('login.get_coordenador') }}";
        }
      </script>

    </form>
 </div>

  <div class="form-block" style="margin-top: 50px;">
    <h3>Ações Cadastradas</h3><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Meta</th>
          <th>Porcentagem Execução</th>
          <th>Data Início</th>
          <th>Data Término</th>
          <th>Responsável</th>
          <th>Status</th>
          <th>Observação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for acao in acoes %}
        <tr>
          <td>{{ acao.id }}</td>
          <td>{{ acao.nome }}</td>
          <td>{{ acao.meta_pe.nome }}</td>
          <td>{{ acao.porcentagem_execucao }}</td>
          <td>{{ acao.data_inicio }}</td>
          <td>{{ acao.data_termino }}</td>
          <td>{{ acao.responsavel }}</td>
          <td>{{ acao.status }}</td>
          <td>{{ acao.observacao }}</td>
          <td>
            <a href="{{ url_for('planejamento.alterar_acaope', acao_id=acao.id) }}" class="btn btn-success btn-sm" style="background-color: #28a745;">Editar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="form-group" style="text-align: center;">
  <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>
</div>
<script>
  function fechar() {
      window.location.href = "{{ url_for('login.get_coordenador') }}";
  }
</script>
{% endblock %}
