{% extends 'basecorden.html' %}

{% block titulo %}
    Cadastro de Riscos - PRPPG
{% endblock %}

{% block conteudo %}
<div style="margin: auto; width: 80%; text-align: left;">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="form-block">
        <h2 style="text-align: center;">Cadastro de Risco</h2><br>
        <form method="POST" action="{{ url_for('relatoriometas.cadastrar_risco') }}">
            <label for="planejamento_id">Selecione o Planejamento:</label><br>
            <select name="planejamento_id" id="planejamento_id" required style="width: 90%; margin-bottom: 10px;">
                <option value="" disabled selected>Selecione um planejamento</option>
                {% for planejamento in planejamentos %}
                    <option value="{{ planejamento.id }}">{{ planejamento.nome }}</option>
                {% endfor %}
            </select>
            <br>

            <label for="objetivo_pe_id">Selecione o Objetivo:</label><br>
            <select name="objetivo_pe_id" id="objetivo_pe_id" required style="width: 90%; margin-bottom: 10px;" disabled>
                <option value="" disabled selected>Selecione um objetivo</option>
            </select>
            <br>

            <label for="meta_pe_id">Selecione a Meta:</label><br>
            <select name="meta_pe_id" id="meta_pe_id" required style="width: 90%; margin-bottom: 10px;" disabled>
                <option value="" disabled selected>Selecione uma meta</option>
            </select>
            <br>

            <!-- Descrição do Risco -->
            <div class="form-group">
                <label for="descricao">Descrição do Risco:</label>
                <input type="text" id="descricao" name="descricao" required class="form-control" style="width: 80%; margin-bottom: 10px;">
            </div>

            <!-- Probabilidade -->
            <div class="form-group">
                <label for="probabilidade">Probabilidade:</label>
                <select id="probabilidade" name="probabilidade" required class="form-control" style="width: 80%; margin-bottom: 10px;">
                    <option value="Baixa">Baixa</option>
                    <option value="Média">Média</option>
                    <option value="Alta">Alta</option>
                </select>
            </div>

            <!-- Impacto -->
            <div class="form-group">
                <label for="impacto">Impacto:</label>
                <select id="impacto" name="impacto" required class="form-control" style="width: 80%; margin-bottom: 10px;">
                    <option value="Baixo">Baixo</option>
                    <option value="Médio">Médio</option>
                    <option value="Alto">Alto</option>
                </select>
            </div>

            <!-- Ação Preventiva -->
            <div class="form-group">
                <label for="acao_preventiva">Ação Preventiva:</label>
                <input type="text" id="acao_preventiva" name="acao_preventiva" class="form-control" style="width: 80%; margin-bottom: 10px;">
            </div>

            <!-- Botões centralizados com o mesmo tamanho -->
            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" class="btn btn-primary" style="padding: 10px 20px; margin-right: 10px;">Cadastrar</button>
                <button type="button" onclick="cancelar()" class="btn btn-danger" style="padding: 10px 20px; margin-right: 10px;">Cancelar</button>
                <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px;">Fechar</button>
            </div>
        </form>
        <br>

        <!-- Listagem dos Riscos -->
        <h3 style="text-align: center;">Riscos Cadastrados</h3><br> 
         <table style="width: 100%; margin-top: 20px; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Nível</th>
                    <th>Probabilidade</th>
                    <th>Impacto</th>
                    <th>Ação Preventiva</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for risco in riscos %}
                <tr>
                    <td>{{ risco.descricao }}</td>
                    <td>{{ risco.nivel }}</td>
                    <td>{{ risco.probabilidade }}</td>
                    <td>{{ risco.impacto }}</td>
                    <td>{{ risco.acao_preventiva }}</td>
                    <td>
                        <a href="{{ url_for('relatoriometas.editar_risco', risco_id=risco.id) }}" class="btn btn-success">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center; margin-top: 20px;">
            <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px;">Fechar</button>
      </div>
    </div>
</div>

<script>
  function fechar() {
      window.location.href = "{{ url_for('login.get_coordenador') }}";
  }

  document.getElementById('planejamento_id').addEventListener('change', function() {
      var planejamentoId = this.value;
      fetch(`/objetivos_por_planejamento/${planejamentoId}`)
          .then(response => response.json())
          .then(data => {
              var objetivoSelect = document.getElementById('objetivo_pe_id');
              objetivoSelect.innerHTML = '<option value="" disabled selected>Selecione um objetivo</option>';
              data.forEach(function(objetivo) {
                  var option = document.createElement('option');
                  option.value = objetivo.id;
                  option.text = objetivo.nome;
                  objetivoSelect.add(option);
              });
              objetivoSelect.disabled = false;
          });
  });

  document.getElementById('objetivo_pe_id').addEventListener('change', function() {
      var objetivoId = this.value;
      fetch(`/metas_por_objetivo/${objetivoId}`)
          .then(response => response.json())
          .then(data => {
              var metaSelect = document.getElementById('meta_pe_id');
              metaSelect.innerHTML = '<option value="" disabled selected>Selecione uma meta</option>';
              data.forEach(function(meta) {
                  var option = document.createElement('option');
                  option.value = meta.id;
                  option.text = meta.nome;
                  metaSelect.add(option);
              });
              metaSelect.disabled = false;
          });
  });

  function cancelar() {
      window.history.back();
  }
</script>
{% endblock %}
