{% extends 'basepro.html' %}

{% block titulo %}
    {{ 'Editar Objetivo' if objetivo else 'Cadastro de Objetivo' }} - PRPPG
{% endblock %}

{% block conteudo %}
<div style="margin: auto; width: 50%; text-align: center;">
    <div class="form-block"><br>
        <h2 style="color: #003366;">{{ 'Editar Objetivo' if objetivo else 'Cadastro de Objetivo' }}</h2><br>
        {% if success_message %}
            <div style="color: green; margin-bottom: 20px;">{{ success_message }}</div>
        {% endif %}
        <form id="Objetivo" method="POST">
            <label for="nome">Nome do Objetivo:</label>
            <input type="text" id="nome" name="nome" value="{{ objetivo.nome if objetivo else '' }}" required style="width: 100%; margin-bottom: 10px;"><br>
            <label for="bsc">BSC:</label><br>
            <select id="bsc" name="bsc" required style="width: 100%; margin-bottom: 10px;">
                <option value="Recursos" {% if objetivo and objetivo.bsc == 'Recursos' %}selected{% endif %}>Recursos</option>
                <option value="Usuário e Comunidade" {% if objetivo and objetivo.bsc == 'Usuário e Comunidade' %}selected{% endif %}>Usuário e Comunidade</option>
                <option value="Processos Internos" {% if objetivo and objetivo.bsc == 'Processos Internos' %}selected{% endif %}>Processos Internos</option>
                <option value="Resultado" {% if objetivo and objetivo.bsc == 'Resultado' %}selected{% endif %}>Resultado</option>
            </select><br>
            <label for="pdi">Selecione o PDI:</label><br>
            <select id="pdi" name="pdi_id" required style="width: 100%; margin-bottom: 10px;">
                {% for pdi in lista_pdis %}
                    <option value="{{ pdi.id }}" {% if objetivo and objetivo.pdi_id == pdi.id %}selected{% endif %}>{{ pdi.nome }}</option>
                {% endfor %}
            </select><br>
            <button type="submit" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">{{ 'Atualizar' if objetivo else 'Cadastrar' }}</button>
            <button type="button" onclick="alterar()" style="background-color: #065110; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-left: 10px;">Alterar</button>
            <button type="button" onclick="fechar()" style="background-color: #f44336; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-left: 10px;">Fechar</button><br>

            <script>
                function alterar() {
                    window.location.href = "{{ url_for('lista_objetivos') }}";
                }
            </script>
            <script>
                function fechar() {
                    window.location.href = "{{ url_for('login.get_proreitor') }}";
                }
            </script>
        </form>
    </div>
</div>
{% endblock %}