{% extends 'basecorden.html' %}

{% block titulo %}
    Dashboard de Autoavaliação Discente
{% endblock %}

{% block conteudo %}
<div class="container" style="text-align: center; padding-top: 50px;">
    <h2 style="text-align: center; color: #003366; padding-bottom: 20px;">Gráficos da Autoavaliação</h2>

    <div style="display: flex; justify-content: space-around; align-items: center;">
        <!-- Gráfico de Pizza: Distribuição da Qualidade das Aulas -->
        <div>
            <h3>Distribuição da Qualidade das Aulas</h3>
            <img src="{{ url_for('static', filename=pizza_path) }}" alt="Gráfico de Pizza">
        </div>
        <div>
            <h3>Média de Infraestrutura Geral por Ano de Ingresso</h3>
            <img src="{{ url_for('static', filename=barras_path) }}" alt="Gráfico de Barras">
        </div>
        <div>
            <h3>Tendência da Qualidade das Aulas</h3>
            <img src="{{ url_for('static', filename=linha_path) }}" alt="Gráfico de Linha">
        </div>
        <div>
            <h3>Histograma da Qualidade das Aulas</h3>
            <img src="{{ url_for('static', filename=histograma_path) }}" alt="Histograma">
        </div>
        <div>
            <h3>Infraestrutura Geral vs. Qualidade das Aulas</h3>
            <img src="{{ url_for('static', filename=scatter_path) }}" alt="Gráfico de Dispersão">
        </div>
        

    <!-- Botões de Fechar e Gerar PDF -->
    <div style="text-align: center; margin-top: 40px;">
        <!-- Botão vermelho para fechar -->
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>

        <!-- Botão azul para gerar PDF -->
        <a href="{{ url_for('gerar_pdf', planejamento_id=planejamento_id) }}" class="btn btn-primary">Gerar PDF</a>
    </div>
    <script>
        function fechar() {
            window.location.href = "{{ url_for('login.get_coordenador') }}";
        }
    </script>
</div>
{% endblock %}

