{% extends 'basepro.html' %}

{% block titulo %}
    <h1 style="text-align: center; margin-bottom: 20px;">Gráficos de Autoavaliação Egressos</h1>
{% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header" style="background-color: #054b91;">
        <h4 style="text-align: center; color: #ffffff;">Gráficos Gerados</h4> <!-- Texto em branco com fundo azul -->
    </div>
    <div class="card-body">
    
    <!-- Exibir mensagens de flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <!-- Container para gráficos -->
    <div class="container my-4">
        <div class="row">
            {% for grafico in graficos %}
                <div class="col-md-6 mb-4">
                    <img src="data:image/png;base64,{{ grafico }}" class="img-fluid" alt="Gráfico Gerado">
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Botões de Ação -->
    <div style="text-align: center; margin-top: 40px;">
        <!-- Botão Fechar -->
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border-radius: 4px;">Fechar</button>
        
        <!-- Formulário para Análise de Sentimentos -->
        <form action="{{ url_for('avaliacaoegresso.analisar_sentimentos_egresso') }}" method="get" style="display: inline-block; margin-left: 20px;">
            <button type="submit" class="btn btn-primary" style="padding: 10px 20px; border-radius: 4px;">Analisar Sentimentos</button>
        </form>

        <!-- Botão para Recomendações por Programa -->
        <a href="{{ url_for('avaliacaoegresso.exibir_recomendacoes_egresso') }}" class="btn btn-primary" style="padding: 10px 20px; border-radius: 4px; margin-left: 20px;">Recomendações por Programa</a>
    </div>
</div>

<!-- Script para fechar a página -->
<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_proreitor') }}";
    }
</script>
{% endblock %}
