{% extends 'basepro.html' %}

{% block titulo %}
    <h1 style="text-align: center; margin-bottom: 20px;">Gráficos de Autoavaliação Coordenador</h1>
{% endblock %}

{% block conteudo %}
    <h2 style="text-align: center;">Gráficos Gerados</h2>   
    <!-- Exibir gráficos gerados -->
    <div class="container my-4">
        <div class="row">
            {% for grafico in graficos %}
                <div class="col-md-6 mb-4">
                    <img src="data:image/png;base64,{{ grafico }}" class="img-fluid" alt="Gráfico Gerado">
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Botões de Fechar, Análise de Sentimento e Análise Estratégica com IA -->
    <div style="text-align: center; margin-top: 40px;">
        <!-- Botão para fechar -->
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">
            Fechar
        </button>

        <!-- Botões para Análise de Sentimento e Recomendações -->
        <a href="{{ url_for('avaliacaocoordenador.analisar_sentimentos_coordenador') }}" class="btn btn-primary" style="margin-left: 20px;">Análise de Sentimento</a>
        <a href="{{ url_for('avaliacaocoordenador.exibir_recomendacoes_programacoordenador') }}" class="btn btn-danger" style="margin-left: 20px;">Recomendações por Programa</a>
    </div>

    <!-- Script para redirecionar ao clicar em "Fechar" -->
    <script>
        function fechar() {
            window.location.href = "{{ url_for('login.get_proreitor') }}";
        }
    </script>
{% endblock %}
