{% extends 'basecorden.html' %}

{% block titulo %}
<div class="container mt-4 text-center">
    <h1 class="display-4">Gráficos de Autoavaliação Egressos</h1>
</div>
{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <div class="card shadow-sm mb-5">
        <div class="card-header bg-primary text-white text-center">
            <h4>Gráficos Gerados</h4>
        </div>
        <div class="card-body">
            
            <!-- Exibir mensagens de flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-info">
                        <ul>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            
            <!-- Container para os gráficos em duas colunas -->
            <div class="row">
                {% for grafico in graficos %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm">
                        <img src="data:image/png;base64,{{ grafico }}" class="card-img-top img-fluid" alt="Gráfico" />
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Botões de Ação -->
            <div class="text-center mt-5">
                <!-- Botão Fechar -->
                <button type="button" onclick="fechar()" class="btn btn-danger mx-3" style="padding: 10px 20px;">Fechar</button>

                <!-- Formulário para Análise de Sentimentos -->
                <form action="{{ url_for('avaliacaoegresso.analisar_sentimentos_egresso') }}" method="get" style="display: inline-block; margin-left: 20px;">
                    <button type="submit" class="btn btn-primary" style="padding: 10px 20px;">Analisar Sentimentos</button>
                </form>

                <!-- Botão para Recomendações por Programa -->
                <a href="{{ url_for('avaliacaoegresso.exibir_recomendacoes_egresso') }}" class="btn btn-primary mx-3" style="padding: 10px 20px;">Recomendações por Programa</a>
            </div>
        </div>
    </div>
</div>

<!-- Script para fechar a página -->
<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }
</script>
{% endblock %}
