{% extends 'basepro.html' %}

{% block titulo %}
    <h1 style="text-align: center; margin-bottom: 20px;">Gráficos de Autoavaliação Secretaria</h1>
{% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header" style="background-color: #054b91;">
        <h4 style="text-align: center; color: #ffffff;">Autoavaliação Secretaria</h4> <!-- Texto em branco com fundo azul -->
    </div>
    <div class="card-body">
    
    <!-- Container para gráficos -->
    <div class="container my-4">
        <div class="row">
            {% for grafico in graficos %}
                <div class="col-md-6 mb-4">
                    <img src="data:image/png;base64,{{ grafico }}" class="img-fluid" alt="Gráfico Gerado">
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Botões de Fechar, Análise de Sentimento e Análise Estratégica com IA -->
    <div style="text-align: center; margin-top: 40px;">
        <!-- Botão para fechar -->
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>
        
        <!-- Botão para gerar Análise Estratégica com IA -->
        <a href="{{ url_for('avaliacaosecretaria.executar_analise', tipo='sentimento') }}" class="btn btn-primary" style="margin-left: 20px;">Análise de Sentimento</a>
        <a href="{{ url_for('avaliacaosecretaria.analisar_dados_ia_secretaria') }}" class="btn btn-primary" style="margin-left: 20px;">Gerar Análise Estratégica com IA</a>
        <a href="{{ url_for('avaliacaosecretaria.exibir_recomendacoes_programasecretaria') }}" class="btn btn-danger" style="margin-left: 20px;">Recomendações por Programa</a>
    </div>

    <!-- Script para fechar a página -->
    <script>
        function fechar() {
            window.location.href = "{{ url_for('login.get_proreitor') }}";
        }
    </script>
</div>
{% endblock %}
