<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Docente</title>
</head>
<body>
    <h1>Dashboard Docente</h1>
    {% for plot_url in plot_urls %}
        <img src="{{ plot_url }}" alt="Plot">
    {% endfor %}
     <br>
  
    <div class="button-container">
        <a href="{{ url_for('autoavaliacaodocente.gerar_pdf_docente') }}">
            <button class="btn btn-primary" style="background-color: #003366; border-color: #003366;">Gerar PDF</button>
        </a>
        <a href="{{ url_for('login.get_coordenador') }}">
            <button class="btn btn-danger" style="background-color: red; border-color: red;">Fechar</button>
        </a>
    </div>
</body>
</html>