{% extends 'basecorden.html' %}

{% block titulo %}
    <div style="text-align: center;">
        Relatório de Autoavaliação Docente
    </div>
{% endblock %}

{% block conteudo %}
    <h2 style="text-align: center;">Gráficos Gerados</h2>

    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
        <div class="grafico" style="margin: 20px;">
            <h3 style="text-align: center;">Distribuição da Qualidade das Aulas</h3>
            <img src="{{ url_for('static', filename=pizza_path) }}" alt="Gráfico de Pizza" style="width: 400px; height: 400px;">
        </div>
        <div class="grafico" style="margin: 20px;">
            <h3 style="text-align: center;">Infraestrutura Geral</h3>
            <img src="{{ url_for('static', filename=barras_path) }}" alt="Gráfico de Barra" style="width: 400px; height: 400px;">
        </div>
        <div class="grafico" style="margin: 20px;">
            <h3 style="text-align: center;">Distribuição da Proficiência em Inglês</h3>
            <img src="{{ url_for('static', filename=plot_url_3) }}" alt="Gráfico de Pizza" style="width: 400px; height: 400px;">
        </div>
        <div class="grafico" style="margin: 20px;">
            <h3 style="text-align: center;">Capacitação para Ensinar em Inglês</h3>
            <img src="{{ url_for('static', filename='graficos/barras_capacitacao_ingles.png') }}" alt="Gráfico de Barra" style="width: 400px; height: 400px;">
        </div>
    </div>

    <div style="text-align: center; margin-top: 40px;">
        <!-- Botão vermelho para fechar -->
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>

        <!-- Botão azul para gerar PDF -->
        <a href="{{ url_for('gerar_pdf', planejamento_id=planejamento_id) }}" class="btn btn-primary">Gerar PDF</a>
    </div>
    <script>
        function fechar() {
            window.location.href = "{{ url_for('login.get_coordenador') }}";
        }
    </script>
{% endblock %}
