{% extends 'basepro.html' %}

{% block titulo %}
    <h1 style="text-align: center; margin-bottom: 20px;">Gráficos de Autoavaliação Coordenador</h1>
{% endblock %}

{% block conteudo %}
<div class="container" style="max-width: 80%; margin-top: 30px;">
    <div class="card">
        <div class="card-header" style="background-color: #054b91;">
            <h2 style="text-align: center; color: #ffffff;">Gráficos Gerados</h2> <!-- Título com fundo azul e texto branco -->
        </div>
        <div class="card-body">

            <!-- Exibir gráficos gerados -->
            <div class="container my-4">
                <div class="row">
                    {% for grafico in graficos %}
                        <div class="col-md-6 mb-4 text-center">
                            <img src="data:image/png;base64,{{ grafico }}" class="img-fluid" alt="Gráfico Gerado">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Botões de Fechar, Análise de Sentimento e Recomendações -->
            <div style="text-align: center; margin-top: 40px;">
                <!-- Botão para fechar -->
                <button type="button" onclick="fechar()" class="btn btn-danger" style="width: 150px;">Fechar</button>

                <!-- Botões para Análise de Sentimento e Recomendações -->
                <a href="{{ url_for('avaliacaocoordenador.analisar_sentimentos_coordenador') }}" class="btn btn-primary" style="width: 150px; margin-left: 10px;">Análise de Sentimento</a>
                <a href="{{ url_for('avaliacaocoordenador.exibir_recomendacoes_programacoordenador') }}" class="btn btn-danger" style="width: 200px; margin-left: 10px;">Recomendações por Programa</a>
            </div>
        </div>
    </div>
</div>

<!-- Script para redirecionar ao clicar em "Fechar" -->
<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_proreitor') }}";
    }
</script>
{% endblock %}
