{% extends 'basecord.html' %}

{% block titulo %}
    Editar Indicador - PRPPG
{% endblock %}

{% block conteudo %}
    <title>Editar Planejamento</title>
</head>
<body>
    <h4 style="text-align: center; color: #003366;">Editar Planejamento</h4>
    <form method="POST" action="{{ url_for('planejamento.editar_planejamento', id=planejamento.id) }}">
        <!-- Campo do nome do planejamento para editar -->
        <div class="form-group">
            <label for="nome">Nome do Planejamento</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ planejamento.nome }}"><br>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" onclick="fechar()" class="btn btn-danger" style="margin-left: 10px;">Fechar</button>
    </form>
</body>
<script>
    function fechar() {
        window.location.href = "{{ url_for('planejamento.cadastro_planejamentope') }}";
    }
</script>
{% endblock %}