{% extends 'basecord.html' %}

{% block titulo %}
    Editar Objetivo - PRPPG
{% endblock %}

{% block conteudo %}
<div class="container">
    <h2 style="text-align: center; color: #003366;">Editar Objetivo</h2>
    <!-- Mensagens Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div>
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <!-- Fim das Mensagens Flash -->

    <form method="POST" action="{{ url_for('planejamento.editar_objetivope', id=objetivo.id) }}">
        <div class="form-group">
            <label for="planejamento">Planejamento Estratégico:</label>
            <select name="planejamento_id" id="planejamento_id" class="form-control" required>
                {% for pe in planejamento_estrategico %}
                    <option value="{{ pe.id }}" {% if pe.id == objetivo.planejamento_estrategico_id %}selected{% endif %}>{{ pe.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="objetivo">Objetivo do PDI:</label>
            <select name="objetivo_id" id="objetivo_id" class="form-control" required>
                {% for objetivo_pdi in objetivos_pdi %}
                    <option value="{{ objetivo_pdi.id }}" {% if objetivo_pdi.id == objetivo.objetivo_pdi_id %}selected{% endif %}>{{ objetivo_pdi.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="nome">Nome do Objetivo:</label>
            <input type="text" id="nome" name="nome" value="{{ objetivo.nome }}" required class="form-control">
        </div>
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" onclick="fechar()" class="btn btn-danger" style="margin-left: 10px;">Fechar</button>
        </div>
    </form>
</div>

<script>
    function fechar() {
        window.location.href = "{{ url_for('planejamento.associar_objetivospe') }}";
    }
</script>
{% endblock %}