{% extends 'basecord.html' %}

{% block titulo %}
    Gráfico de Ações
{% endblock %}

{% block conteudo %}
<body>
    <h4 style="text-align: center; color: #003366;">Período de execução</h4> 

    <div style="text-align: center;">
        <form method="get" action="{{ url_for('graficogrant.exibir_gantt') }}">
            <div class="form-group text-center">
                <label for="planejamento_selecionado" style="color: #000408;">Selecionar Planejamento:</label>
                <select id="planejamento_selecionado" name="planejamento_selecionado" required style="width: 300px; margin-bottom: 20px;">
                    <option value="">Selecione um planejamento</option>
                    {% for planejamento in planejamentos %}
                        <option value="{{ planejamento.id }}" {% if planejamento_selecionado and planejamento.id == planejamento_selecionado.id %}selected{% endif %}>{{ planejamento.nome }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary" style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 4px;">Buscar</button>
            </div>
        </form>

        {% if planejamento_selecionado %}
            <h5 style="color: #00070d;">Planejamento Selecionado: {{ planejamento_selecionado.nome }}</h5>
        {% endif %}

        {% if plot_url %}
            <div class="text-center">
                <img src="data:image/png;base64,{{ plot_url }}" class="img-fluid" alt="Gráfico de Gantt">
            </div>
        {% endif %}
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <button type="button" onclick="fechar()" style="background-color: #ab081b; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>
    </div>

    <script>
        function fechar() {
            window.location.href = "{{ url_for('login.get_coordenador') }}";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
{% endblock %}