{% extends 'base.html' %}

{% block titulo %}
    Gráfico de Metas - PRPPG
{% endblock %}

{% block conteudo %}
<div style="margin: auto; width: 80%; text-align: center;">
    <h2>Progresso das Metas</h2>

    <form method="GET" action="{{ url_for('relatoriometas.exibir_graficometas') }}">
        <label for="planejamento_selecionado">Selecionar Planejamento:</label>
        <select id="planejamento_selecionado" name="planejamento_selecionado">
            <option value="">--Selecione o Planejamento--</option>
            {% for planejamento in planejamentos %}
                <option value="{{ planejamento.id }}" {% if planejamento_selecionado and planejamento.id == planejamento_selecionado.id %}selected{% endif %}>{{ planejamento.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit" style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Buscar</button>
    </form>

    {% if graph_base64 %}
        <img src="data:image/png;base64,{{ graph_base64 }}" alt="Gráfico de Metas">
        <br>
        <a href="{{ url_for('relatoriometas.gerar_pdf', planejamento_selecionado=planejamento_selecionado.id) }}" style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; text-decoration: none;">Exportar PDF</a>
        <button type="button" onclick="fechar()" style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-left: 10px;">Fechar</button>
    {% endif %}
</div>

<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }
</script>
{% endblock %}