{% extends "base.html" %}

{% block content %}
<h1>Gráfico de Ações das Metas</h1>

<label for="planejamento">Selecionar Planejamento:</label>
<select id="planejamento" name="planejamento">
    <option value="">--Selecione o Planejamento--</option>
    {% for planejamento in planejamentos %}
        <option value="{{ planejamento.id }}" {% if planejamento_selecionado and planejamento.id == planejamento_selecionado.id %}selected{% endif %}>{{ planejamento.nome }}</option>
    {% endfor %}
</select>

<br>

<label for="meta">Selecionar Meta:</label>
<select id="meta" name="meta" {% if not metas %}disabled{% endif %}>
    <option value="">--Selecione a Meta--</option>
    {% for meta in metas %}
        <option value="{{ meta.id }}" {% if meta.id == meta_selecionada_id %}selected{% endif %}>{{ meta.nome }}</option>
    {% endfor %}
</select>

<br>

<div id="graficos">
    {% if graficos %}
        {% for grafico in graficos %}
            <h3>{{ grafico.meta }}</h3>
            <img src="data:image/png;base64,{{ grafico.grafico }}" alt="Gráfico de Ações">
            <ul>
                {% for acao in grafico.acoes %}
                    <li>{{ acao.nome }}: {{ acao.porcentagem_execucao }}%</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Nenhuma ação encontrada para a meta selecionada.</p>
    {% endif %}
</div>

<script>
    $(document).ready(function(){
        $('#planejamento').change(function(){
            var planejamento_id = $(this).val();
            if (planejamento_id) {
                window.location.href = "{{ url_for('graficoacaope.exibir_graficoacaope') }}?planejamento_selecionado=" + planejamento_id;
            }
        });

        $('#meta').change(function(){
            var planejamento_id = $('#planejamento').val();
            var meta_id = $(this).val();
            if (meta_id) {
                window.location.href = "{{ url_for('graficoacaope.exibir_graficoacaope') }}?planejamento_selecionado=" + planejamento_id + "&meta_selecionada=" + meta_id;
            }
        });
    });
</script>
{% endblock %}