{% extends 'basecorden.html' %}

{% block titulo %}
    <h2 style="text-align: center; margin-bottom: 20px;">Importar Planilha de Coordenador</h2>
{% endblock %}

{% block conteudo %}
<div class="card" style="max-width: 600px; margin: 0 auto;">
    <div class="card-header" style="background-color: #054b91;">
        <h4 style="text-align: center; color: #ffffff;">Importar Planilha de Coordenador</h4> <!-- Texto em branco com fundo azul -->
    </div>
    <div class="card-body text-center">

        <!-- Mensagens de alerta -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert" style="text-align: center;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Formulário para Upload -->
        <form action="{{ url_for('avaliacaocoordenador.importar_planilhacoordenador') }}" method="POST" enctype="multipart/form-data" style="text-align: center;">
                <div class="form-group">
                    <label for="file" style="color: #003366; font-weight: bold;">Selecionar Arquivo</label>
                    <input type="file" class="form-control-file" id="file" name="file" style="display: none;" onchange="displayFileName()">
                    <label for="file" class="btn btn-primary" style="background-color: #003366; border-color: #003366; margin-bottom: 20px;">Escolher arquivo</label>
                    <small id="fileHelp" class="form-text text-muted" style="display: block; margin-top: 10px;">
                        <a href="{{ url_for('static', filename='uploads/coordenador.csv') }}" download="coordenador.csv">Baixar Exemplo</a>
                    </small>
                </div>
                <div id="fileName" class="form-text text-muted" style="margin-top: 10px;">Nenhum arquivo selecionado</div>
           
            <!-- Botões Upload e Fechar -->
            <div style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary" style="background-color: #003366; border-color: #003366; width: 150px; margin-right: 10px;">Upload</button>
                <button type="button" onclick="fechar()" class="btn btn-danger" style="width: 150px;">Fechar</button>
            </div>
        </form>
    </div>
</div>

<!-- Scripts -->
<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }

    function displayFileName() {
        var input = document.getElementById('file');
        var fileName = input.files[0] ? input.files[0].name : 'Nenhum arquivo selecionado';
        document.getElementById('fileName').innerText = 'Arquivo selecionado: ' + fileName;
    }
</script>
{% endblock %}
