{% extends 'basecord.html' %}

{% block titulo %}
  Home
{% endblock %}

{% block conteudo %}
  <h2 style="text-align: center; margin-top: 30px;"> PPGEXPLORER </h2>
  <hr>
  <style>
    .container {
      text-align: center;
      margin-top: 65px;
      max-width: 100%; /* Garante que o contêiner ocupe toda a largura */
    }

    .button-row {
      display: flex;
      justify-content: center;
      gap: 50px; /* Espaçamento entre os botões */
      overflow-x: auto; /* Permite rolagem horizontal se necessário */
      white-space: nowrap; /* Impede quebra de linha */
    }

    .image-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 160px; /* Tamanho fixo para os itens */
    }

    .image-button-wrapper img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      margin-bottom: 10px;
    }

    .image-button-wrapper button {
      width: 145px;
      height: 50px;
      text-align: center;
    }
  </style>

  <div class="container">
    <div class="button-row">
      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='comparar.png') }}" alt="Imagem 1">
        <button type="button" class="btn btn-primary" onclick="visualizarpdi()">PDI</button>
      </div>

      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='PDI.png') }}" alt="Imagem 2">
        <button type="button" class="btn btn-primary" onclick="visualizaracao()">Plano de Ação</button>
      </div>

      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='multi.png') }}" alt="Imagem 3">
        <button type="button" class="btn btn-primary" onclick="visualizarelatorio()">Metas</button>
      </div>

      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='grafico.png') }}" alt="Imagem 4">
        <button type="button" class="btn btn-primary" onclick="visualizarindicadorcomum()">Indicador Comum</button>
      </div>

      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='grafico1.png') }}" alt="Imagem 5">
        <button type="button" class="btn btn-primary" onclick="resumo_planejamento()">Planejamento</button>
      </div>

      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='riscos5.png') }}" alt="Imagem 6">
        <button type="button" class="btn btn-primary" onclick="resumo_riscos()">Riscos</button>
      </div>
    </div>
  </div>

  <script>
    function visualizarpdi() {
      window.location.href = "{{ url_for('exibir_altpdi') }}";
    }

    function visualizarelatorio() {
      window.location.href = "{{ url_for('relatoriocompleto.relatorio_completo') }}";
    }

    function visualizaracao() {
      window.location.href = "{{ url_for('relatoriocompleto.relatorio_acao') }}";
    }

    function visualizarindicadorcomum() {
      window.location.href = "{{ url_for('calculoindicadores.visualizar_indicadores', programa_id=programa_id) }}";
    }

    function resumo_planejamento() {
      window.location.href = "{{ url_for('planejamento.selecionar_planejamento') }}";
    }

    function resumo_riscos() {
      window.location.href = "{{ url_for('relatoriometas.listar_matriz_riscos') }}";
    }

    var programa_id = "{{ programa_id }}";
  </script>
{% endblock %}
