{% extends 'basecord.html' %}

{% block titulo %}
  Home
{% endblock %}

{% block conteudo %}
  <h2 style="text-align: center;"> PPGEXPLORER </h2>
  <hr>
  <style>
    /* Adiciona estilos para centralizar as imagens */
    .image-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .image-button-wrapper img {
      width: 100%;
      max-width: 150px; /* Defina a largura máxima desejada para as imagens */
      height: auto;
    }

    .image-button-wrapper button {
      width: 100%;
      max-width: 150px; /* Defina a largura máxima desejada para os botões */
      text-align: center; /* Alinha o texto ao centro */
      margin-top: 10px; /* Adiciona espaço entre a imagem e o botão */
      white-space: nowrap; /* Impede a quebra de linha no texto */
    }

    .col-spacing {
      margin: 0 15px; /* Adiciona espaçamento horizontal entre as colunas */
    }
  </style>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-2 col-spacing">
        <div class="content-wrapper">
          <div class="image-button-wrapper">
            <img src="{{ url_for('static', filename='comparar.png') }}" alt="Imagem 1">
            <button type="button" class="btn btn-primary btn-block" onclick="visualizarpdi()">PDI</button>
          </div>
        </div>
      </div>
 
      <div class="col-md-2 col-spacing">
        <div class="content-wrapper">
          <div class="image-button-wrapper">
            <img src="{{ url_for('static', filename='PDI.png') }}" alt="Imagem 2">
            <button type="button" class="btn btn-primary btn-block" onclick="visualizaracao()">Plano de Ação</button>
          </div>
        </div>
      </div>
      
      <div class="col-md-2 col-spacing">
        <div class="content-wrapper">
          <div class="image-button-wrapper">
            <img src="{{ url_for('static', filename='ideia.png') }}" alt="Imagem 3">
            <button type="button" class="btn btn-primary btn-block" onclick="visualizarelatorio()">Metas</button>
          </div>
        </div>
      </div>
      
      <div class="col-md-2 col-spacing">
        <div class="content-wrapper">
          <div class="image-button-wrapper">
            <img src="{{ url_for('static', filename='grafico.png') }}" alt="Imagem 4">
            <button type="button" class="btn btn-primary btn-block" onclick="visualizarindicadorcomum()" style="white-space: nowrap;">Indicador Comum</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function visualizarpdi() {
      window.location.href = "{{ url_for('exibir_altpdi') }}";
    }
    
    function visualizarelatorio() {
      window.location.href = "{{ url_for('relatoriocompleto.relatorio_completo') }}";
    }

    function visualizaracao() {
      window.location.href = "{{ url_for('relatoriocompleto.relatorio_acao') }}";
    }

    function visualizarindicadorcomum() {
      window.location.href = "{{ url_for('calculoindicadores.visualizar_indicadores', programa_id=programa_id) }}"; }
    
    // Certifique-se de que programa_id está disponível como uma variável de JavaScript
    var programa_id = "{{ programa_id }}";
  </script>



{% endblock %}