{% extends 'base.html' %}

{% block titulo %}
  Home
{% endblock %}

{% block conteudo %}
  <h2 style="text-align: center; margin-top: 30px;"> PPGEXPLORER </h2>
  <hr>
  <style>
    .content-wrapper {
      text-align: center;
    }

    .button-row {
      display: flex;
      justify-content: center;
      gap: 30px; /* Espaçamento entre os itens */
      flex-wrap: nowrap; /* Mantém todos os itens em uma linha */
      margin-top: 20px;
    }

    .image-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 150px; /* Tamanho fixo para todos os itens */
    }

    .image-button-wrapper img {
      width: 100px; /* Tamanho fixo para as imagens */
      height: 100px;
      object-fit: contain; /* Ajuste para evitar distorção */
      margin-bottom: 10px;
    }

    .image-button-wrapper button {
      width: 100%;
      height: 40px;
      text-align: center;
    }
  </style>

  <div class="container">
    <div class="button-row">
      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='comparar.png') }}" alt="Imagem 1" class="img-fluid">
        <button type="button" class="btn btn-primary">Visualização PDI</button>
      </div>

      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='multi.png') }}" alt="Imagem 2" class="img-fluid">
        <button type="button" class="btn btn-primary">Planejamento Estratégico</button>
      </div>

     
      <div class="image-button-wrapper">
        <img src="{{ url_for('static', filename='ideia.png') }}" alt="Imagem 4" class="img-fluid">
        <button type="button" class="btn btn-primary">Relatório</button>
      </div>
    </div>
  </div>
{% endblock %}
