{% extends 'base.html' %}

{% block titulo %}
  Home
{% endblock %}

{% block conteudo %}
  <h2 style="text-align: center;"> PPGEXPLORER </h2>
  <hr>
  <style>
    /* Estilos */
  </style>
  <div class="container">
    <div class="row">
      {% if user_role == "Pro-reitor" %}
      <!-- Ocultar funcionalidades relacionadas ao Planejamento Estratégico para Pro-reitores -->
      <div class="col-md-3" style="display: none;">
        <div class="content-wrapper">
          <div class="image-button-wrapper">
            <!-- Imagem e botão relacionados ao Planejamento Estratégico -->
          </div>
        </div>
      </div>
      {% endif %}
      {% if user_role == "Coordenador" %}
      <!-- Ocultar funcionalidades relacionadas ao PDI para Coordenadores -->
      <div class="col-md-3" style="display: none;">
        <div class="content-wrapper">
          <div class="image-button-wrapper">
            <!-- Imagem e botão relacionados ao PDI -->
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Exibir outras funcionalidades aqui -->
    </div>
  </div>
{% endblock %}