{% extends 'basepro.html' %}

{% block titulo %}
   Lista de Indicadores - PRPPG
{% endblock %}

{% block conteudo %}
<div class="container" style="max-width: 80%; margin-top: 30px;">
    <div class="card">
      <div class="card-header" style="background-color: #054b91;">
        <h4 style="text-align: center; color: #ffffff;">Lista de Indicadores</h4> <!-- Título com fundo azul e texto branco -->
      </div>
      <div class="card-body">

        <!-- Tabela de Indicadores -->
        <table class="table table-bordered table-striped" style="width: 100%; margin-top: 20px;">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Meta</th>
                    <th>Objetivo</th>
                    <th>PDI</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for indicador in indicadores %}
                    <tr>
                        <td>{{ indicador.nome }}</td>
                        <td>{{ indicador.meta.nome }}</td>
                        <td>{{ indicador.meta.objetivo.nome }}</td>
                        <td>{{ indicador.meta.objetivo.pdi.nome }}</td>
                        <td>
                            <a href="{{ url_for('indicador.editar_indicador', indicador_id=indicador.id) }}" style="color: blue; text-decoration: none;">Alterar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botão de Cadastro de Novo Indicador -->
        <div class="text-center" style="margin-top: 20px;">
            <a href="{{ url_for('indicador.cadastro_indicador') }}" class="btn btn-primary" style="background-color: darkblue; color: white;">Cadastrar Novo Indicador</a>
        </div>

      </div>
    </div>
</div>
{% endblock %}
