{% extends 'basecord.html' %}

{% block titulo %}
  Objetivos - Planejamento Estratégico
{% endblock %}

{% block conteudo %}
<div style="margin: auto; width: 50%; text-align: center;">
  <div class="form-block"><br>
    <h2>Planejamento Estratégico - Cadastro de Meta</h2><br>
    <form method="POST" action="{{ url_for('associar_metaspe') }}">
      <label for="planejamento_id">Selecione o Planejamento Estratégico:</label></br>
      <select name="planejamento_id" required style="width: 100%; margin-bottom: 10px;">
          {% for pe in planejamentos_estrategicos %}
              <option value="{{ pe.id }}">{{ pe.nome }}</option>
          {% endfor %}
      </select><br>
  
      <label for="objetivo_pe_id">Selecione o Objetivo:</label></br>
      <select name="objetivo_pe_id" required style="width: 100%; margin-bottom: 10px;"><br>
        {% for objetivo in objetivos_pe %}
            <option value="{{ objetivo.id }}">{{ objetivo.nome }}</option>
        {% endfor %}
      </select><br>
      
      <label for="nome">Nome da Meta:</label><br>
      <input type="text" id="nome" name="nome" required style="width: 100%; margin-bottom: 10px;"><br>
      
      <label for="porcentagem_execucao">Porcentagem de Execução:</label><br>
      <input type="number" id="porcentagem_execucao" name="porcentagem_execucao" required style="width: 100%; margin-bottom: 10px;"><br>
      
      <button type="submit" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Cadastrar</button>
      <button type="button" onclick="cancelar()" style="background-color: #f44336; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-left: 10px;">Cancelar</button><br>            
    </form>
</div>
<script>
    function cancelar() {
        // Exibe um aviso de confirmação antes de redirecionar
        if (confirm('Tem certeza que deseja cancelar?')) {
            // Redireciona o usuário para a página inicial
            window.location.href = '/cancelar';
        }
    }
</script>
  <!-- Exibir objetivos relacionados ao PDI selecionado -->

{% endblock %}