{% extends 'basecord.html' %}

{% block titulo %}
    Cadastro do Planejamento Estratégico - PRPPG
{% endblock %}

{% block conteudo %}
<div class="container">
    <h2 style="text-align: center; color: #003366; margin-top: 20px;">Cadastro de Planejamento Estratégico</h2>
    <form method="POST" action="{{ url_for('planejamento.cadastro_planejamentope') }}" style="margin-top: 20px;">
        <div class="form-group">
            <label for="planejamento" style="color: #000408;">Selecione o Planejamento Estratégico:</label>
            <select name="planejamento_id" required style="width: 100%; margin-bottom: 20px; padding: 10px;">
                <option value="">-- Selecione --</option>
                {% for pdi in pdis %}
                    <option value="{{ pdi.id }}">{{ pdi.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="nome" style="color: #000408;">Nome do Planejamento:</label>
            <input type="text" id="nome" name="nome" required style="width: 100%; margin-bottom: 20px; padding: 10px;">
        </div>
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-primary" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-right: 10px;">Cadastrar</button>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes" style="list-style-type: none; padding: 0;">
            {% for category, message in messages %}
                <li class="{{ category }}" style="color: {{ 'red' if category == 'danger' else 'green' }};">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Tabela de Planejamentos Cadastrados -->
    <h2 style="text-align: center; color: #003366; margin-top: 40px;">Planejamentos Cadastrados</h2>
    <table class="table table-striped" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>PDI</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for planejamento in planejamentos %}
                <tr>
                    <td>{{ planejamento.id }}</td>
                    <td>{{ planejamento.nome }}</td>
                    <td>{{ planejamento.pdi.nome }}</td>
                    <td>
                        <a href="{{ url_for('planejamento.editar_planejamento', id=planejamento.id) }}" class="btn btn-success">Editar</a>
                        <!-- Outros botões ou ações -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="form-group" style="text-align: center;">
   <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>
</div>

<script>
    function fechar() {
        // Redireciona para a página do coordenador após o login
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }
</script>
{% endblock %}