{% extends 'basecorden.html' %}

{% block titulo %}
    Cadastro do Planejamento Estratégico - PRPPG
{% endblock %}

{% block conteudo %}
<div class="container" style="max-width: 80%; margin-top: 30px;">
    <div class="card">
        <div class="card-header" style="background-color: #054b91;">
            <h3 style="text-align: center; color: #ffffff;">Cadastrar Indicador</h3> <!-- Título com fundo azul e texto branco -->
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('planejamento.cadastro_planejamentope') }}">
                <div class="form-group">
                    <label for="planejamento" style="color: #000408;">Selecione o Planejamento Estratégico:</label>
                    <select name="planejamento_id" required class="form-control" style="margin-bottom: 20px;">
                        <option value="">-- Selecione --</option>
                        {% for pdi in pdis %}
                            <option value="{{ pdi.id }}">{{ pdi.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="nome" style="color: #000408;">Nome do Planejamento:</label>
                    <input type="text" id="nome" name="nome" required class="form-control" style="margin-bottom: 20px;">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-right: 10px;">Cadastrar</button>
                </div>
            </form>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes" style="list-style-type: none; padding: 0;">
                    {% for category, message in messages %}
                        <li class="{{ category }}" style="color: {{ 'red' if category == 'danger' else 'green' }};">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div> <!-- card-body -->
    </div> <!-- card -->

    <!-- Tabela de Planejamentos Cadastrados -->
    <div class="card mt-4">
        <div class="card-header" style="background-color: #054b91;">
            <h3 style="text-align: center; color: #ffffff;">Planejamentos Cadastrados</h3> <!-- Título com fundo azul e texto branco -->
        </div>
        <div class="card-body">
            <table class="table table-striped" style="width: 100%; margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>PDI</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for planejamento in planejamentos %}
                        <tr>
                            <td>{{ planejamento.id }}</td>
                            <td>{{ planejamento.nome }}</td>
                            <td>{{ planejamento.pdi.nome }}</td>
                            <td>
                                <a href="{{ url_for('planejamento.editar_planejamento', id=planejamento.id) }}" class="btn btn-success btn-sm">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group text-center" style="margin-top: 20px;">
               <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>
            </div>
        </div> <!-- card-body -->
    </div> <!-- card -->
</div> <!-- container -->

<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }
</script>
{% endblock %}
