{% extends 'basepro.html' %}

{% block titulo %}
    <div style="text-align: center;">
        <h2>Recomendações Estratégicas por Coordenador</h2>
    </div>
{% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header" style="background-color: #054b91;">
        <h4 style="text-align: center; color: #ffffff;">Recomendações Estratégicas por Coordenador</h4> <!-- Texto em branco com fundo azul -->
    </div>
    <div class="card-body">
        <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="text-align: left; padding: 10px;">Programa</th>
                    <th style="text-align: left; padding: 10px;">Recomendações</th>
                </tr>
            </thead>
            <tbody>
                {% for programa, recomendacoes in recomendacoes.items() %}
                <tr>
                    <td style="padding: 10px; vertical-align: top;">{{ programa }}</td>
                    <td style="padding: 10px;">
                        {% if recomendacoes %}
                            <ul>
                                {% for recomendacao in recomendacoes %}
                                <li>{{ recomendacao }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Sem recomendações específicas.</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- Botões de Voltar e Fechar -->
    <div style="text-align: center; margin-top: 40px;">
        <!-- Botão Voltar -->
        <a href="{{ url_for('avaliacaocoordenador.gerar_graficos_completos_coordenador', filename='coordenador.csv') }}" class="btn btn-primary" style="margin-right: 10px; padding: 10px 20px;">Voltar</a>
        
        <!-- Botão Fechar -->
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>

    </div>
       <!-- Script para fechar a página -->
   <script>
    function fechar() {
       window.location.href = "{{ url_for('login.get_proreitor') }}";
    }
  </script>
</script>
{% endblock %}
