{% extends 'basecorden.html' %}

{% block titulo %}
    Planejamento Estratégico - 2024:2028
{% endblock %}

{% block conteudo %}
<div class="card mt-4">
    <div class="card-header" style="background-color: #054b91;">
        <h4 class="text-center text-white">Planejamento Estratégico</h4>
    </div>
    <div class="card-body text-center">
        <form method="POST" action="{{ url_for('relatorioplanejamento.exibir_detalhes_planejamentocadeia') }}">
            <div class="form-group mb-3">
                <label for="planejamento_estrategico" class="form-label">Selecione um planejamento:</label>
                <select id="planejamento_estrategico" name="planejamento_selecionado" required class="form-select" style="width: 800px; margin: auto;">
                    <option value="" disabled selected>-- Selecione --</option>
                    {% for planejamento in planejamentos %}
                        <option value="{{ planejamento.id }}">{{ planejamento.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Buscar</button>
        </form>
    </div>
</div>

{% if dados_objetivos %}
<div id="tabela-planejamento" class="mt-4">
    <h3 class="text-center">Planejamento Estratégico</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>Objetivo</th>
                <th>Meta</th>
                <th>Indicador</th>
                <th>Risco</th>
                <th>Ação Preventiva</th>
            </tr>
        </thead>
        <tbody>
            {% for objetivo in dados_objetivos %}
                <tr>
                    <td>{{ objetivo.nome }}</td>
                    <td colspan="4"></td>
                </tr>
                {% for meta in objetivo.metas %}
                    <tr>
                        <td></td>
                        <td>{{ meta.nome }}</td>
                        <td>
                            {% for indicador in meta.indicadores %}
                                {{ indicador.nome }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for risco in meta.riscos %}
                                {{ risco.descricao }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for risco in meta.riscos %}
                                {{ risco.acao_preventiva }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center mt-4">
<a id="gerar-pdf" href="{{ url_for('relatorioplanejamento.gerarrel_pdf', planejamento_id=planejamento_selecionado.id) }}" class="btn btn-primary mt-2">Gerar PDF</a>
<a id="gerar-excel" href="{{ url_for('relatorioplanejamento.gerarrel_excel', planejamento_id=planejamento_selecionado.id) }}" class="btn btn-success ms-2">Gerar Planilha</a>

</div>
{% endif %}

<div class="text-center mt-4">
    <button type="button" onclick="fechar()" class="btn btn-danger">Fechar</button>
</div>

<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }
</script>
{% endblock %}
