{% extends 'base.html' %}

{% block titulo %}
  Recuperação de Senha
{% endblock %}

{% block conteudo %}
  <div style="margin: auto; width: 50%; text-align: center;">
    <h2>Recuperação de Senha</h2>
    <form action="/reset-password" method="post">
      <label for="email">Digite seu Email:</label><br>
      <input type="email" id="email" name="email" required style="width: 100%; margin-bottom: 10px;"><br>
      <button type="submit" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Enviar Email de Recuperação</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="message {{ message.category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}