{% extends 'basecorden.html' %}

{% block titulo %}
    Resumo do Planejamento Estratégico
{% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header" style="background-color: #054b91;">
        <h4 style="text-align: center; color: #ffffff;">Resumo do Planejamento Estratégico</h4> <!-- Texto em branco com fundo azul -->
    </div>
    <div class="card-body">
        <p><strong>Planejamento:</strong> {{ planejamento.nome }}</p>
    </div>

    <!-- Seção de Resumo de Metas e Ações -->
    <div class="row mt-4 text-center">
        <div class="col-md-4">
            <div class="card" style="background-color: #28a745; color: white;">
                <div class="card-body">
                    <h5 class="card-title">Metas Atingidas</h5>
                    <p><strong>{{ percentual_metas_atingidas }}%</strong> das metas foram atingidas no último ciclo.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card" style="background-color: #007bff; color: white;">
                <div class="card-body">
                    <h5 class="card-title">Ações Concluídas</h5>
                    <p><strong>{{ percentual_acoes_concluidas }}%</strong> das ações estão concluídas.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="background-color: #ffc107; color: black;">
                <div class="card-body">
                    <h5 class="card-title">Ações Atrasadas</h5>
                    <p><strong>{{ acoes_atrasadas }}</strong> ações estão atrasadas.</p>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Seção de Status Geral das Metas -->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Status Geral das Metas</h5>
                    <p><strong>Total de Metas:</strong> {{ total_metas }}</p>
                    <p><strong>Em Andamento:</strong> {{ metas_em_andamento }}</p>
                    <p><strong>Futuras:</strong> {{ metas_futuras }}</p>
                    <p><strong>Metas no Prazo:</strong> {{ metas_no_prazo }}</p>
                    <p><strong>Metas Atrasadas:</strong> {{ metas_atrasadas }}</p>
                </div>
            </div>
        </div>

        <!-- Gráfico de Evolução das Metas -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gráfico de Evolução das Metas</h5>
                    <div style="width: 100%; height: 200px; margin: 0 auto;">
                        <canvas id="evolucaoMetasChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h5 class="text-center">Detalhamento das Metas e Indicadores</h5>
        <div class="accordion" id="metasAccordion">
            {% for meta in metas %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ meta.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ meta.id }}" aria-expanded="false" aria-controls="collapse{{ meta.id }}">
                            {{ meta.nome }} - Status: {{ meta.status }} - Progresso: {{ meta.status_inicial }}% até {{ meta.valor_alvo }}%
                        </button>
                    </h2>
                    <div id="collapse{{ meta.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ meta.id }}" data-bs-parent="#metasAccordion">
                        <div class="accordion-body">
                            <!-- Detalhes dos Indicadores -->
                            <h6>Indicadores:</h6>
                            <ul>
                                {% if indicadores_por_meta[meta.id] %}
                                    {% for indicador in indicadores_por_meta[meta.id] %}
                                        <li>
                                            <strong>{{ indicador.nome }}</strong>
                                            <p>Descrição: {{ indicador.descricao }}</p>
                                            <p>Valor Meta: {{ indicador.valor_meta }}</p>
                                            <p>Frequência de Coleta: {{ indicador.frequencia_coleta }}</p>
                                            <p>Peso: {{ indicador.peso }}</p>
                                            <p>Responsável: {{ indicador.responsavel }}</p>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <p>Nenhum indicador associado a esta meta.</p>
                                {% endif %}
                            </ul>
    
                            <!-- Valores da Meta -->
                            <h6>Valores da Meta:</h6>
                            <ul>
                                {% for valor_meta in meta.valores_metas %}
                                    <li>Ano: {{ valor_meta.ano }}, Semestre: {{ valor_meta.semestre }}, Valor: {{ valor_meta.valor }}</li>
                                {% else %}
                                    <li>Nenhum valor associado.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
     
    
    

    <!-- Gráfico com Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Gráfico de Evolução das Metas
        var ctxEvolucao = document.getElementById('evolucaoMetasChart').getContext('2d');
        new Chart(ctxEvolucao, {
            type: 'bar',
            data: {
                labels: ['Metas no Prazo', 'Metas Atrasadas', 'Em Andamento', 'A Iniciar'],
                datasets: [{
                    label: 'Número de Metas',
                    data: [{{ metas_no_prazo }}, {{ metas_atrasadas }}, {{ metas_em_andamento }}, {{ metas_futuras }}],
                    backgroundColor: ['#36a2eb', '#ff6384', '#ffcd56', '#4bc0c0']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });
    </script>

    <!-- Botão para Fechar -->
 
    <div style="text-align: center; margin-top: 20px;">
        <a href="{{ url_for('planejamento.gerar_pdf', planejamento_id=planejamento.id) }}" target="_blank" class="btn btn-primary" style="background-color: #097836; color: white; padding: 10px 20px; border: none; border-radius: 4px;">Gerar PDF</a>

        <button type="button" onclick="fechar()" class="btn btn-danger" style="background-color: #f44336; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Fechar</button>
    </div>
</div>

<script>
    function fechar() {
        window.location.href = "{{ url_for('login.get_coordenador') }}";
    }
</script>
{% endblock %}
