{% extends 'basecorden.html' %}

{% block titulo %}
Selecionar Planejamento
{% endblock %}

{% block conteudo %}
<div class="card mt-4">
    <div class="card-header" style="background-color: #054b91;">
        <h4 class="text-center text-white">Selecionar Planejamento</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('pdiprppg.selecionar_planejamento') }}" style="max-width: 500px; margin: auto; text-align: center;">
            <div class="form-group">
                <label for="pdi_id">Planejamento:</label>
                <select id="pdi_id" name="pdi_id" required class="form-control mb-3">
                    <option value="" disabled selected>-- Selecione um Planejamento --</option>
                    {% for pdi in pdis %}
                        <option value="{{ pdi.id }}">{{ pdi.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: darkblue; color: white; padding: 10px 20px; border: none; border-radius: 4px;">Visualizar Dados</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger mt-4 text-center">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}
