{% extends 'basecorden.html' %}

{% block titulo %}
<div style="text-align: center; margin-top: 20px;">
    <h1>Análise de Sentimentos - Egressos</h1>
</div>
{% endblock %}

{% block conteudo %}
<body style="text-align: center;"> <!-- Centraliza todo o conteúdo -->

    <h1 style="margin-bottom: 20px;">Análise de Sentimentos</h1>

    <h3 style="margin-bottom: 15px;">Média dos Sentimentos sobre o Programa: {{ media_programa }}</h3>
    <h3 style="margin-bottom: 30px;">Média dos Sentimentos sobre a Pró-Reitoria: {{ media_prppg }}</h3>

    <h3 style="margin-bottom: 20px;">Gráfico de Sentimentos</h3>
    <img src="data:image/png;base64,{{ grafico_sentimentos }}" alt="Gráfico de Sentimentos" style="margin-bottom: 40px;"/>

    <div style="text-align: center; margin-top: 40px;">
        <button onclick="window.history.back()" class="btn btn-success" style="padding: 10px 20px; border: none; border-radius: 4px; font-size: 16px;">Voltar</button>
        <button type="button" onclick="fechar()" class="btn btn-danger" style="padding: 10px 20px; border: none; border-radius: 4px; font-size: 16px;">Fechar</button>
    </div>
    <script>
        function fechar() {
            window.location.href = "{{ url_for('login.get_coordenador') }}";
        }
    </script>
    
</body>
{% endblock %}
