<!DOCTYPE html>
<html>
<head>
    <title>Usuários Cadastrados</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome de Usuário</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Programa ID</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_data %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.programa_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>