{% extends 'basepro.html' %}

{% block titulo %}
  Planejamento Estratégico - Programas
{% endblock %}

{% block conteudo %}
<div class="card mt-4">
    <div class="card-header" style="background-color: #054b91;">
        <h4 class="text-center text-white">Planejamento Estratégico - Programas</h4> <!-- Texto em branco com fundo azul -->
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Formulário para selecionar o programa -->
                    <form action="{{ url_for('planejamento.visualizar_programaspe') }}" method="POST">
                        <div class="form-group">
                            <label for="programa">Selecione um programa:</label><br>
                            <select class="form-control" id="programa" name="programa" onchange="this.form.submit()">
                                {% for programa in programas %}
                                    <option value="{{ programa.id }}" {% if programa_selecionado and programa.id == programa_selecionado.id %}selected{% endif %}>{{ programa.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>

                    <!-- Exibe seleção de planejamento caso existam planejamentos -->
                    {% if planejamentos %}
                    <form action="{{ url_for('planejamento.visualizar_dados_programa') }}" method="POST">
                        <div class="form-group mt-4">
                            <label for="planejamento">Selecione um planejamento:</label><br>
                            <select class="form-control" id="planejamento" name="planejamento">
                                {% for planejamento in planejamentos %}
                                    <option value="{{ planejamento.id }}">{{ planejamento.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary" style="background-color: darkblue; color: white; padding: 10px 20px; border-radius: 4px; cursor: pointer;">Visualizar Dados</button>
                            <button type="button" onclick="cancelar()" class="btn btn-danger" style="padding: 10px 20px; border-radius: 4px; cursor: pointer;">Cancelar</button>
                        </div>
                    </form>
                    <script>
                        function cancelar() {
                            window.location.href = "{{ url_for('login.get_proreitor') }}";
                        }
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
